extends layout

block content
  h1 Buy My looks
  p.lead A leader in Faction shopping Website.
  hr
  .row
    .col-md-12
      h2 Heading
      p Body
      p
        a.btn.btn-raised(href='#', role='button') View details »

    .col-md-12
    .col-md-12
      h2 Heading
      p Body
      p
        a.btn.btn-raised(href='#', role='button') View details »

