<main class="feed">
  <main class="profile-container">
    <section class="profile">
      <header class="profile__header">
        <div class="profile__avatar-container">
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar" />
        </div>
        <div class="profile__info">
          <div class="profile__name">
            <h1 class="profile__title">serranoarevalo</h1>
            <a href="edit-profile.html" class="profile__button u-fat-text">Edit profile</a>
            <i class="fa fa-cog fa-2x" id="cog"></i>
          </div>
          <ul class="profile__numbers">
            <li class="profile__posts">
              <span class="profile__number u-fat-text">10</span> posts
            </li>
            <li class="profile__followers">
              <span class="profile__number u-fat-text">40</span> followers
            </li>
            <li class="profile__following">
              <span class="profile__number u-fat-text">134</span> following
            </li>
          </ul>
          <div class="profile__bio">
            <span class="profile__full-name u-fat-text">Nicolás Serrano Arévalo</span>
            <p class="profile__full-bio">Lorem ipsum atque voluptatum sed fuga esse molestiae.</p>
            <a href="http://serranoarevalo.com" class="profile__link u-fat-text">serranoarevalo.com</a>
          </div>
        </div>
      </header>

    </section>
  </main>
  <div class="section group">
    <div class="col span_1_of_3">
      <section class="photo">
       
        <div class="photo__file-container">
          <img class="photo__file" src="https://serranoarevalo.github.io/instaclone/images/feedPhoto.jpg" />
        </div>
        <div class="photo__info">
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar" />

        </div>
      </section>
    </div>
    <div class="col span_1_of_3">
      <section class="photo">
       
        <div class="photo__file-container">
          <img class="photo__file" src="https://serranoarevalo.github.io/instaclone/images/feedPhoto.jpg" />
        </div>
        <div class="photo__info">
          <div class="photo__icons">
            <span class="photo__icon">
              <i class="fa fa-heart-o heart fa-lg"></i>
            </span>
            <span class="photo__icon">
              <i class="fa fa-comment-o fa-lg"></i>
            </span>
          </div>
          <span class="photo__likes">35 likes</span>
          <ul class="photo__comments">
            <li class="photo__comment">
              <span class="photo__comment-author">serranoarevalo</span>wow this is great!
            </li>
            <li class="photo__comment">
              <span class="photo__comment-author">lynn</span>no is not!
            </li>
          </ul>
          <span class="photo__time-ago">11 hours ago</span>
          <div class="photo__add-comment-container">
            <textarea placeholder="Add a comment..." class="photo__add-comment"></textarea>
            <i class="fa fa-ellipsis-h"></i>
          </div>
        </div>
      </section>
    </div>
    <div class="col span_1_of_3">
      <section class="photo">
       
        <div class="photo__file-container">
          <img class="photo__file" src="https://serranoarevalo.github.io/instaclone/images/feedPhoto.jpg" />
        </div>
        <div class="photo__info">
          <div class="photo__icons">
            <span class="photo__icon">
              <i class="fa fa-heart-o heart fa-lg"></i>
            </span>
            <span class="photo__icon">
              <i class="fa fa-comment-o fa-lg"></i>
            </span>
          </div>
          <span class="photo__likes">35 likes</span>
          <ul class="photo__comments">
            <li class="photo__comment">
              <span class="photo__comment-author">serranoarevalo</span>wow this is great!
            </li>
            <li class="photo__comment">
              <span class="photo__comment-author">lynn</span>no is not!
            </li>
          </ul>
          <span class="photo__time-ago">11 hours ago</span>
          <div class="photo__add-comment-container">
            <textarea placeholder="Add a comment..." class="photo__add-comment"></textarea>
            <i class="fa fa-ellipsis-h"></i>
          </div>
        </div>
      </section>
    </div>

    

  </div>
</main>
