<main class="feed">
  <main class="profile-container">
    <section class="profile">
      <header class="profile__header">
        <div class="profile__avatar-container">
          <img [src]="userDetail?.picture" class="profile__avatar" />
        </div>
        <div class="profile__info">
          <div class="profile__name">
            <h1 class="profile__title">{{userDetail?.name}}</h1>
          </div>
          <ul class="profile__numbers">
            <li class="profile__posts">
              <span class="profile__number u-fat-text">10</span> posts
            </li>
            <li class="profile__followers">
              <span class="profile__number u-fat-text">40</span> followers
            </li>
            <li class="profile__following">
              <span class="profile__number u-fat-text">134</span> following
            </li>
          </ul>
          <div class="profile__bio">
            <span class="profile__full-name u-fat-text">Apurba Mondal</span>
            <p class="profile__full-bio"> "In order to be irreplaceable one must always be different." </p>
            <a href="http://mylooks.com" class="profile__link u-fat-text">Mylooks.com</a>
          </div>
        </div>
      </header>

    </section>
  </main>
  <div class="section group">
    <div class="col span_1_of_3" *ngFor="let item of userBlogPhotos">
      <section class="photo">
       
        <div class="photo__file-container">
          <img class="photo__file" [src]="item.media_url" />
        </div>
        <div class="photo__info">
          
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar product_image" />
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar product_image" />
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar product_image" />
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar product_image" />
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar product_image" />
          <img src="assets/images/feedPhoto.jpg" class="profile__avatar product_image" />

        </div>
      </section>
    </div>
    

    

  </div>
</main>
