<div class="row gap-20 masonry pos-r">

  <!-- <div class="masonry-sizer col-md-6"> -->

  <div class="masonry-item col-md-12" *ngIf="!switchView">
    <!-- #Sales Report ==================== -->
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 p-20">
          <h6 class="lh-1">Admin Task</h6>
        </div>
        <div class="layer w-100">
          <!-- <div class="bgc-light-blue-500 c-white p-20">
                  <div class="peers ai-c jc-sb gap-40">
                    <div class="peer peer-greed">
                      <h5>November 2017</h5>
                      <p class="mB-0">Sales Report</p>
                    </div>
                    <div class="peer">
                      <h3 class="text-right">$6,000</h3>
                    </div>
                  </div>
                </div> -->
          <div class="table-responsive p-20">
            <table class="table">
              <thead>
                <tr>
                  <th class=" bdwT-0">User</th>
                  <th class=" bdwT-0">Media Count</th>
                  <th class=" bdwT-0">Date</th>
                  <th class=" bdwT-0">Published</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of adminTask">
                  <td class="fw-600" (click)="openTask(task)"> {{task.user.profile.name}}</td>

                  <td>{{task.userMedia.length}}</td>
                  <td><span class="text-success">{{task.createdAt|date}}</span></td>
                  <td>
                    <span [className]="task.published ? 'badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill':'badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill'">published</span>


                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ta-c bdT w-100 p-20">
        <a href="#">Load More..</a>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="masonry-item col-md-12" *ngIf="switchView">
    <!-- #Sales Report ==================== -->
    <div class="bd ">
      <div class="layers">
        <div class="layer w-100 p-20" [ngStyle]="{'margin-bottom:': '10px'}" >
          <h6 class="lh-1">Review Photos </h6>
        </div>
        <div class="layer w-100">

          <div id="profile">
            <section class="profile__photos">
              <mat-card class="example-card" *ngFor="let item of selectedTask.userMedia">

                <img mat-card-image src="{{item.media_url}}"
                  alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <p>
                        The Shiba Inu is 
                        #asdf
                      </p>
                    </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button (click)="openDialog(item)">  Add Product</button>
                </mat-card-actions>
              </mat-card>
            </section>
          </div>
        </div>
        <div class="ta-c bdT w-100 p-20">
          <a href="#">Load More.</a>
        </div>
      </div>
      <!-- </div> -->
    </div>



  </div>