<div id="feed">
    <div class="photo">
        <header class="photo__header">
            <img src="../../assets/images/avatar.jpg" class="photo__avatar">
            <div class="photo__user-info">
                <span class="photo__author">inthetiger</span>
                <span class="photo__location">Bestechung</span>
            </div>
        </header>
        <img src="../../assets/images/feedPhoto.jpg">
        <div class="photo__info">
            <div class="photo__actions">
                <span class="photo__action">
                    <i class="fa fa-heart-o fa-lg"></i>
                </span>
                <span class="photo__action">
                    <i class="fa fa-comment-o fa-lg"></i>
                </span>
            </div>
            <span class="photo__likes">45 likes</span>
            
            <span class="photo__time-ago">2 hours ago</span>
            
        </div>
    </div>

      
</div>
