<!-- <nav class="navigation">
  <a href="">
    <img src="assets/images/mylooks-logo.png" alt="logo" title="logo" width="150px" class="navigation__logo" />
  </a>

  <nav class="nav">
    <a class="nav-link" [routerLink]="['blog']" href="#">Blog</a>
    <a class="nav-link" [routerLink]="['profile']" href="#">Profile</a>
    <a class="nav-link" href="/api/auth/facebook" >Login</a>
  </nav>
</nav> -->

<!-- Image and text -->
<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">

    <a class="navbar-brand" href="#">
      Mylooks
    </a>

    <span class=" nav">
      <a class="nav-link" [routerLink]="['blog']" href="#">Blog</a>
      <a class="nav-link" [routerLink]="['profile']" href="#">Profile</a>
    </span>
  </div>
</nav>