




  <nav class="navigation">
    <div class="navigation__column">
      <a href="feed.html">
        <img src="../../assets/icons/icon-144x144.png" />
      </a>
    </div>
    <div class="navigation__column">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search">
    </div>
    <div class="navigation__column">
      <ul class="navigations__links">
        <li class="navigation__list-item">
          <a href="explore.html" class="navigation__link">
            <i class="fa fa-compass fa-lg"></i>
          </a>
        </li>
        <li class="navigation__list-item">
          <a [routerLink]="['/Dashboard']" class="navigation__link">
            <i class="fa fa-heart-o fa-lg"></i>
          </a>
        </li>
        <li class="navigation__list-item">
          <a   [matMenuTriggerFor]="menu" class="navigation__link">
            <i class="fa fa-user-o fa-lg"></i>
          </a>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
        </li>
        
      </ul>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
      <div class="footer__column">
          <nav class="footer__nav">
              <ul class="footer__list">
                  <li class="footer__list-item"><a href="#" class="footer__link">About Us</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Support</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Blog</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Press</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Jobs</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Privacy</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Terms</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Directory</a></li>
                  <li class="footer__list-item"><a href="#" class="footer__link">Language</a></li>
              </ul>
          </nav>
      </div>
      <div class="footer__column">
          <span class="footer__copyright">© 2017 Vietgram</span>
      </div>
  </footer>



