
<nav class="navigation">
  <a href="feed.html">
    <img src="assets/images/mylooks-logo.png" alt="logo" title="logo" width="150px" class="navigation__logo" />
  </a>
  <div class="navigation__search-container">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Search">
  </div>
  <div class="navigation__icons">
    <a href="#" class="navigation__link">
      <i class="fa fa-heart-o"></i>
    </a>
    <a [routerLink]="['profile']"  class="navigation__link">
      <i class="fa fa-user-o"></i>
    </a>

    <!-- <a   href="/api/auth/facebook"  class="loginBtn loginBtn--facebook navigation__link">
      Login
    </a> -->
    <a   href="/api/auth/facebook"  class="loginBtn ">
      Login
    </a>
    <!-- <a  href="/api/auth/facebook" class="navigation__link">
      <img src="assets/images/fblogin.png" alt="Login with Facebook" title="Login with Facebook" width="150px" class="navigation__logo" >
    </a> -->
  </div>
</nav>