<!-- <div id="login">


  <div class="login__column">
    <img src="../../assets/images/phoneImage.png" class="login__phone" />
  </div>
  <div class="login__column">
    <div class="login__box">
      <h2 style="
        font-family: -webkit-pictograph;
    "> Buymylooks</h2>
      <form action="feed.html" method="get" class="login__form">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Log in" />
      </form>
      <span class="login__divider">or</span>
      <a href="/api/auth/facebook" class="login__link">
        <i class="fa fa-money"></i>
        Log in with Facebook
      </a>
      <a href="#" class="login__link login__link--small">Forgot password</a>
    </div>
    <div class="login__box">
      <span>Don't have an account?</span>
      <a href="#">Sign up</a>
    </div>
    <div class="login__box--transparent">
      <span>Get the app.</span>
      <div class="login__appstores">
        <img src="../../assets/images/ios.png" class="login__appstore" alt="Apple appstore logo" title="Apple appstore logo" />
        <img src="../../assets/images/android.png" class="login__appstore" alt="Android appstore logo" title="Android appstore logo"
        />
      </div>
    </div>
  </div>
</div> -->

<div class="peers ai-s fxw-nw h-100vh overlay">
  <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("assets/static/images/bg.jpg")'>
    <div class="pos-a centerXY">
      <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
        <img class="pos-a centerXY" src="assets/static/images/logo.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
    <h4 class="fw-300 c-grey-900 mB-40">Login</h4>
    <form>
      <div class="form-group">
        <label class="text-normal text-dark">Username</label>
        <input type="email" class="form-control" placeholder="John Doe">
      </div>
      <div class="form-group">
        <label class="text-normal text-dark">Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="peers ai-c jc-sb fxw-nw">
          <div class="peer">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
              <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Remember Me</span>
              </label>
            </div>
          </div>
          <div class="peer">
            <button class="btn btn-primary">Login</button>
            
          </div>
          
        </div>
        
      </div>
    </form>
    <a href="#" class="fb btns">
      <i class="fa fa-facebook fa-fw"></i> Login with Facebook
     </a>
  </div>
</div>